.div-1 {
    background-color:lightbrown
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(156, 102, 30)
}

.div-2 {
    font-size:30px
    
}

.div-3 {
    background-color:lighttan
}
